select {
  display:block;
}

.side-navigation {
  height:100vh;
  box-shadow:0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding-top:60px;
  padding-left:0!important;
  padding-right:0!important;
  position:fixed;
}

.inline-flex {
  display:inline-flex;
  margin-bottom:12px;
}

.plus-container {
  margin-left:20px;
}

.side-navigation ul {
  margin-top:0;
}
.non-active-tab,
.active-tab {
  width:50%;
}

.active-tab:focus,
.active-tab:active,
.active-tab {
  background:transparent!important;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom:none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color:#f9423a;
}

.fa-download {
  position:absolute;
  right:20px;
}
.non-active-tab:focus,
.non-active-tab:active,
.non-active-tab {
  background:transparent;
  border:none;
}

.thumbnail-img {
  max-width:200px;
  height:auto;
}

.plus {
  display:inline-block;
}

.rbc-row-content {
  z-index:0;
}

.slide-in-btn {
  position:absolute;
  right:30px;
  top:60px;
  z-index:0;
  padding-left:13px;
  padding-right:13px;
}

.margin-top {
  margin-top:20px;
}
.z-depth-3 {
  padding:30px 20px!important;
}

.color {
  margin-bottom:20px;
}

.editTitle {
  padding-left:25px!important;
  margin-bottom:0!important;
  font-size:1.64rem!important;
  width:auto!important;
}

.login-box {
  margin:0 auto!important;
  margin-top:20%!important;
  float:none!important;
}

.zero-side-pad {
  padding-left:0!important;
  padding-right:0!important;
}

.active-section {
  padding-left:12px;
  padding-right:12px;
}

.client-nav-button {
  background:transparent;
  box-shadow:none;
  width:100%;
  text-align:left;
  text-transform:none;
  border-radius:0;
  font-size:.9rem;
  padding-left:15px;
}

.client-nav-button:hover,
.client-nav-button:focus,
.client-nav-button:active {
  color:#fff;
  background:#f9423a;
}

.nav-header {
  background:#e4e4e4;
  position:relative;
}

.nav-header h6 {
  padding:10px 25px 10px 15px;
  color:#333;
  font-size:.8rem;
  text-transform: uppercase;
  margin-bottom:0;
}

.relative {
  position:relative;
}

.inline {
  display:inline-block;
}

.side-nav-top .caret-button,
.nav-header .plus-button {
  border:none;
  float:right;
  background:transparent;
  border-radius:none;
  position:absolute;
  top:5px;
  right:15px;
}

.nav-header .fa-plus {
  font-size:.9rem;
}

.side-nav-top {
  padding-left:15px;
  padding-top:15px;
}

.side-nav-top h5 {
  margin-bottom:20px;
}

.calendar-outter-container {
  min-height:100vh;
  width:100%;
  margin:auto;
  display:flex;
}

.calendar-inner-container {
  display:flex;
  flex-direction:column;
  flex:1;
  min-height:0;
}

.client-top-navigation {
  box-shadow:0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,0,0,0.12);
  height:50px;
}

.client-top-navigation ul{
  margin:0;
}

.button-group {
  position:absolute;
  right:0;
  top:0;
}

.button-inline {
  background:0;
  display:inline-block;
  margin-left:3px;
}

.button-inline i {
  color:#fff;
}

.button-inline:nth-child(2) {
  background:#f9423a;
}

.button-inline:last-child {
  margin-right:10px;
  background:#6d6e71;
}

.userdropdown-container {
  height:60px;
  text-align:right;
}

.userdropdown-container button {
  margin-top:15px;
  margin-right:10px;
}

.button-inline:first-child {
  background:#6d6e71;
}

.float-right-times {
  position:absolute;
  right:25px;
  top:15px;
  font-size:.9rem;
  font-weight:200;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
  height:14px;
  width:14px;
  top:2px;
}

[type="checkbox"]:checked+label:before {
  height:15px;
  width:8px;
  top:0;
  left:0;
}

.modal-header {
  color:#fff;
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

.align-right {
  text-align:right;
}

.pad-top {
  padding-top:30px;
}

.form-container {
  padding-top:50px;
}

.modal-header h5 {
  padding-left:25px;
}

.client-top-navigation li {
  display:inline-block;
  line-height:50px;
  padding: 0 10px;
  color:#fff;
}

.form-container {
  width:90%;
  margin:0 auto;
}
