.client-logout {
  float:right;
}

.client-logout .fa-caret-down {
  margin-left:10px;
}

.client-dropdown {
  text-align:right;
}
.btn:focus,
.btn:active,
.btn:hover {
  background:#f9423a;
}

.fa-download {
  color:#f9423a;
  margin-left:20px;
  font-size:1.2rem;
}
