body {
  background:#eee;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  font-weight:300;
}

[type="checkbox"]+label {
  padding-left:23px;
}

.checkbox-container span {
  margin-left:10px;
}

.checkbox-container {
  display:inline-block;
  margin-left:10px;
  margin-bottom:10px;
}

.btn:focus {
  background:#f9423a;
}

.text-primary {
  color:#f9423a;
}

.margin-bottom {
  margin-bottom:15px;
}

.comment {
  border-bottom:1px solid #000;
}


.edit-icon-right {
  position:absolute;
  right:20px;
  top:0;
  background:transparent;
  border-color:#f9423a;
  border-radius:50%;
  transition-property:background, border, box-shadow, color;
  transition-duration:.2s;
  box-shadow:0 0 0 3px #f9423a;
}

.edit-icon-right:focus {
  background:#f9423a;
}

.edit-icon-right:hover{
  background:#f9423a;
}
.edit-icon-right:hover i {
  color:#fff;
}

.edit-icon-right i {
  color:#f9423a;
  font-size:1.0rem;
}


.bg-primary {
  background:#f9423a;
}

span {
  display:inline-block;
}
