body {
  background:#eee;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  font-weight:300;
}

[type="checkbox"]+label {
  padding-left:23px;
}

.checkbox-container span {
  margin-left:10px;
}

.filter-container {
  text-align:center;
}

.bg-filter-off {
  background:none;
  border:none;
  margin-top:10px;
}

.bg-filter-off:focus {
  background:none;
}

.label-filter-off {
  font-size:14px!important;
  color:#9e9e9e;
}

.bg-filter-off.active span  {
  color:#000!important;
}

.bg-filter-off:first-child {
  border-right:1px solid #000;
}

.checkbox-container {
  display:inline-block;
  margin-left:10px;
  margin-bottom:10px;
}

.btn:focus {
  background:#f9423a;
}

.text-primary {
  color:#f9423a;
}

.margin-bottom {
  margin-bottom:15px;
}

.comment {
  border-bottom:1px solid #000;
  padding-bottom:10px;
  margin-bottom:20px;
}

.toolbar-btn {
  background:none;
  border:none;
}

.toolbar-container span {
  font-weight:400;
  font-size:18px;
}

.checkbox-container label {
  font-weight:400;
}

.toolbar-btn:first-child {
  margin-right:23px;
}

.toolbar-btn:active, .toolbar-btn:focus {
  background:none;
}

.toolbar-btn:last-child{
  margin-left:23px;
}

.comment p {
  margin-bottom:0;
  margin-top:5px;
}

.toolbar-container {
  position:absolute;
  right:50px;
  top:70px;
}

.rbc-event-content {
  color:#fff;
}

.login-container h3 {
  position:absolute;
  width:100%;
  left:0;
  top:14%;
  margin:0 auto;
}

.edit-icon-right {
  position:absolute;
  right:20px;
  top:0;
  background:transparent;
  border-color:#f9423a;
  border-radius:50%;
  transition-property:background, border, box-shadow, color;
  transition-duration:.2s;
  box-shadow:0 0 0 3px #f9423a;
}

.active-section h4 {
  padding-left:15px;
  margin-bottom:30px;
}

.edit-icon-right:focus {
  background:#f9423a;
}

.edit-icon-right:hover{
  background:#f9423a;
}
.edit-icon-right:hover i {
  color:#fff;
}

.trashcan {
  background:none;
  box-shadow:none;
  float:right;
}

.switch label input[type=checkbox]:checked+.lever {
  background:#efd8d7!important;
}

.trashcan:hover {
  background:transparent!important;
  box-shadow:none!important;
}

.trashcan i {
  color:#f9423a;
}

.edit-icon-right i {
  color:#fff;
  font-size:1.0rem;
}
.main-body {
  margin-left:25%!important;
}


.bg-primary {
  background:#f9423a;
}

span {
  display:inline-block;
}

/* loader */

.loader:empty,
.loader:empty:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  top:25%;
}

.loader-container {
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
  background:#fff;
  z-index:90000;
  top:0;
  left:0;
}

.loader:empty {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #f9423a;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
